# Learning materials
materials/*
docs/*

# VS Code
*.code-workspace
.vscode/

#Python
__pycache__/

# Secrets
secrets/
.env

# pixi environments
.pixi/*
!.pixi/config.toml

# data
data/*
!data/.gitkeep