# Learning materials
materials/*

# VS Code
*.code-workspace
.vscode/

# Python
__pycache__/

# Secrets
secrets/
.env

# pixi environments
.pixi/*
!.pixi/config.toml

# data
data/*
!data/.gitkeep

# documents
docs/*
!docs/.gitkeep
!docs/list_of_papers.md
